@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-button {
    @apply bg-buttonPrimary;
}
.custom-secondary-button {
    @apply bg-secondary;
}

.custom-input {
    font-weight: 300;
}

.partner-label {
    font-size: 16px;
    color: theme("colors.primary");
    font-weight: 500;
    text-decoration: underline;
}

.partner-info {
    font-size: 16px;
    color: #192829; /* primary color */
    font-weight: 400;
}

.width-calculada {
    width: calc(100vw - 10px);
}

@media (min-width: 768px) {
    /* md */
    .width-calculada {
        width: calc(100vw - 200px);
    }
}

@media (min-width: 1024px) {
    /* lg */
    .width-calculada {
        width: calc(100vw - 376px);
    }
}

@media (max-width: 600px) {
    /* xs */
    .width-calculada {
        width: calc(100vw - 60px);
    }
}

@media (max-width: 1024px) {
    .partner-info {
        font-size: 14px;
    }
}
.teste {
    display: grid;
    gap: 7px;
    grid-template-columns: repeat(1, 1fr); /* Padrão: 1 coluna */
}

@media (min-width: 640px) {
    .teste {
        grid-template-columns: repeat(
            2,
            1fr
        ); /* 2 colunas em telas maiores que 640px */
    }
}

@media (min-width: 768px) {
    .teste {
        grid-template-columns: repeat(
            3,
            1fr
        ); /* 3 colunas em telas maiores que 768px */
    }
}

@media (min-width: 1024px) {
    .teste {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1280px) {
    .teste {
        grid-template-columns: repeat(
            4,
            1fr
        ); /* 5 colunas em telas maiores que 1280px */
    }
}

@media (min-width: 1280px) {
    .teste {
        grid-template-columns: repeat(
            4,
            1fr
        ); /* 5 colunas em telas maiores que 1280px */
    }
}

@media (min-width: 1780px) {
    .teste {
        grid-template-columns: repeat(
            5,
            1fr
        ); /* 5 colunas em telas maiores que 1280px */
    }
}

.compare-cel {
    display: flex;
    justify-content: center;
    align-items: center;
}
.compare-cel-label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}
