@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-button {
    @apply bg-buttonPrimary;
}
.custom-secondary-button {
    @apply bg-secondary;
}

.custom-input {
    font-weight: 300;
}

.partner-label {
    font-size: 16px;
    color: theme("colors.primary");
    font-weight: 500;
    text-decoration: underline;
}

.partner-info {
    font-size: 16px;
    color: #192829; /* primary color */
    font-weight: 400;
}

@media (max-width: 1024px) {
    .partner-info {
        font-size: 14px;
    }
}
